{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Cambiar Contraseña{% endblock %}

{% block Opciones %}
    <li class="nav-item lateralOpciones2">
        <a class="nav-link text-white" href="{% url 'ver_perfil' %}">
          Inicio                    
        </a>
    </li>
    {% if user.rol == 4 %}
        <li class="nav-item lateralOpciones2">
            <a class="nav-link text-white" href="{% url 'ver_ventas' %}">
            Pedidos activos                   
            </a>
        </li>
        <li class="nav-item lateralOpciones2">
            <a class="nav-link text-white" href="{% url 'ver_ventas' %}">
            Historial de pedidos                   
            </a>
        </li>
        <li class="nav-item lateralOpciones2">
            <a class="nav-link text-white" href="{% url 'reservas_usuario' %}">
            Reservas                    
            </a>
        </li>
        <li class="nav-item lateralOpciones2">
          <a class="nav-link text-white" href="{% url 'entradas_usuario' %}">
          Entradas
          </a>
        </li>
    {% endif %}
{% endblock %}



{% block contenedor %}
        <div class="container">
            <form action="{% url 'cambiar_clave' %}" method="post">
                {% csrf_token %}
                <h1 style="margin-top: 0.5em;">Cambiar Contraseña</h1>
                <br>
                <input type="hidden" name="id">
                <div class="mb-3 col-4">
                    <label for="exampleFormControlInput1" class="form-label">Contraseña actual</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name="clave">
                </div>
                <div class="mb-3 col-4">
                    <label for="exampleFormControlInput1" class="form-label">Contraseña nueva</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name="nueva1">
                </div>
                <div class="mb-3 col-4">
                    <label for="exampleFormControlTextarea1" class="form-label">Repetir contraseña</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2" name="nueva2">
                </div>
                <button class="btn btn-success" type="submit">Cambiar contraseña</button>
            </form>
        </div>
{% endblock %}